.mat-card {
  margin: 1vh;
}
.mat-form-field {
  width: 100%;
}
strong {
  font-family: "ForYouFont";
  border-bottom: 1px solid #ffe400;
}
.contactForm {
  width: 45%;
  display: inline-block;
}
.serviceSelection {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}
.adultList,
.youthList {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
.formLayout {
  display: inline-block;
}
.inputMessage {
  width: 100%;
}
.spacer {
  flex: 1 1 auto;
}
#additionalInfo strong {
  border-bottom: 3px solid #ffe400;
}
h1 {
  font-family: "ForYouFont";
}
.mat-button-toggle-checked {
    background-color: #ffe400;
    color: #4b0075;
}
.formLayout .mat-card{
    background-color: #4a0075;
    margin-top: unset;
}
.mat-icon{
    color: #ffe400;
}