mat-card {
  margin: 2vh 0;
}
img {
  width: 100%;
  border: 5px solid black;
  border-radius: 5px;
}
mat-card.our-coach mat-card-content {
  display: flex;
  vertical-align: top;
}
mat-card.our-coach ul {
  width: 60%;
  margin-top: unset;
}
mat-card.experience > mat-card-content {
  display: flex;
  justify-content: space-around;
}
#resistance,
#nutrition {
  width: 45%;
  background-color: #4b0075;
}
#resistance > mat-card-title,
#nutrition > mat-card-title {
  color: #ffe400;
  text-align: center;
  border-bottom: 3px solid black;
  margin-top: 1vh;
  padding-bottom: 1vh;
}
mat-card#transformation mat-card-content {
  display: flex;
  justify-content: space-around;
}
#beforePic, #afterPic{
  width:45%;
  height: auto;
  background-color: #4b0075;
}