img {
  width: 100%;
  margin-top: 2vh;
  opacity: 0.3;
}
.spacer {
  flex: 1 1 auto;
}
.container {
  width: 90%;
  margin: auto;
  display: block;
}
.mat-card {
  margin: 2vh auto;
}
.offerings {
  display: flex;
}
#resistance,
#nutrition {
  width: 40%;
  display: inline-block;
  margin: 1vh;
  vertical-align: top;
  background-color: #4b0075;
}
.experience{
  display: block;
}
.experience > mat-card-content{
  display: flex;
}
.our-coach > mat-card-content{
  display: flex;
}
.our-coach mat-card-content ul{
  width: 40%;
  display: inline-block;
}
app-executive-profile{
  width:50%;
  display: inline-block
}
