<app-slide-show></app-slide-show>
<div class="container">
    <mat-card>
        <mat-card-title>For You Fitness</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content id="summary">
            <div id="executive-summary">
                <p>For You Fitness is a personal training and nutrition coaching service that specializes in weight loss
                    and
                    personal transformation. We offer a variety of services to help you reach your goals. Our services
                    are
                    designed to help you lose weight, build muscle, and improve your overall health. We work with
                    clients of
                    all ages and fitness levels, and we are committed to helping you achieve your goals.</p>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-flat-button color="primary" [routerLink]="'/contact'">Contact</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="our-coach">
        <mat-card-title>The Coach</mat-card-title>
        <mat-card-subtitle>David Owen, CPT</mat-card-subtitle>
        <mat-card-content>
            <img id="execProfile" src="../../../../assets/images/ForYouFitnessLogo_WhiteOnBlack.png" />
            <ul>
                <li>20 years trial and error</li>
                <li>Successful weightloss as a working professional</li>
                <li>Formula is the same for everyone</li>
                <li>What we use is different for everyone</li>
                <li>Simple modifications = compounding results</li>
                <li>Partnership to design something by planning for the hard parts</li>
                <li>Holds a current NCCA recognized NASM-CPT Certification</li>
            </ul>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-flat-button color="primary" [routerLink]="'/about'">About</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="experience">
        <mat-card-title>Our Training Services</mat-card-title>
        <mat-card-content>
            <mat-card id="resistance">
                <mat-card-title>Programs</mat-card-title>
                <mat-card-content>
                    <ul>
                        <li>Youth - Health</li>
                        <li>Youth - Athletic</li>
                        <li>Adults - Health</li>
                        <li>Adults - Endurance</li>
                        <li>Adults - Strength</li>
                        <li>Adults - Fat Loss</li>
                    </ul>
                </mat-card-content>
            </mat-card>
            <span class="spacer"></span>
            <mat-card id="nutrition">
                <mat-card-title>Nutrition</mat-card-title>
                <mat-card-content>
                    <ul>
                        <li>Vegetarian, Pescatarian, Vegan...</li>
                        <li>Low Carb, Ketogenic...</li>
                        <li>Paleo, Caveman, Carnivore...</li>
                        <li>Mediterranean</li>
                        <li>Atkins</li>
                        <li>Intermittent Fasting</li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-flat-button color="primary" [routerLink]="'/offerings'">Offerings</button>
        </mat-card-actions>
    </mat-card>

    <mat-card id="transformation">
        <mat-card-title>Personal Transformation</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
            <img id="beforePic" src="../../../../assets/images/ForYouFitnessLogo_Mono-Black.png" />
            <img id="afterPic" src="../../../../assets/images/ForYouFitnessLogo_Mono-White.png" />
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-flat-button color="primary" [routerLink]="'/about'">About Me</button>
        </mat-card-actions>
    </mat-card>
</div>