.container,
.header {
  width: 80%;
  margin: auto;
  color: white;
}
.mat-toolbar img {
  height: 50px;
  width: auto;
  vertical-align: middle;
  margin: unset;
}
a{
  font-family: 'ForYouFont';
}
.spacer {
  flex: 1 1 auto;
}
.header {
  display: flex;
}