<mat-toolbar>
    <div class="header">
        <a mat-button color="primary">
            <img class="toolbar" src="../../../assets/images/ForYouFitnessLogo_Mono-White.png" />
        </a>
        <a mat-button routerLink="/home">For
            You</a>
        <a mat-button routerLink="/about">About Me</a>
        <a mat-button routerLink="/offerings">Offerings</a>
        <a mat-button routerLink="/contact">Contact</a>
        <span class="spacer"></span>
        <a mat-button color="accent" routerLink="/login">
            <mat-icon>login</mat-icon>Login
        </a>
    </div>
</mat-toolbar>
<div class="container">
    <router-outlet></router-outlet>
</div>