.mat-card {
  margin-top: 2vh;
  background-color: #4b0075;
}
.mat-card img {
  width: 100%;
  display: block;
  margin: auto;
  border-radius: 5px;
  margin-bottom: 1vh;
  max-width: 700px;
}
.spacer {
  flex: 1 1 auto;
}
.mat-form-field {
  width: 80%;
  display: block;
  margin: auto;
}
.mat-card-actions {
  background-color: black;
  border-radius: 5px;
  padding: 2vh 0 2vh 0;
  margin: 0.1vh;
}
.mat-card-actions .mat-button, .mat-flat-button {
  margin-left: 10%;
  margin-right: 10%;
}
