<mat-card>
    <mat-card-content>
        <img src="../../../assets/images/ForYouFitnessLogo_Name.jpg" />
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Username</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Password</mat-label>
            <input matInput type="password">
        </mat-form-field>
        <mat-card-actions align="end">
            <button mat-flat-button color="primary">Sign In</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>