@font-face {
  font-family: ForYouFont;
  src: url("./assets/fonts/kirsty.rg-regular.otf");
}
@font-face {
  font-family: ForYouFont;
  src: url("./assets/fonts/kirsty.rg-bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: ForYouFont;
  src: url("./assets/fonts/kirsty.rg-italic.otf");
  font-style: italic;
}
@font-face {
  font-family: ForYouFont;
  src: url("./assets/fonts/kirsty.rg-bolditalic.otf");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 300;
  font-style: normal;
  src: url("./assets/fonts/Ubuntu-Light.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/Ubuntu-Medium.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  font-style: normal;
  src: url("./assets/fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  font-style: normal;
  src: url("./assets/fonts/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 300;
  font-style: italic;
  src: url("./assets/fonts/Ubuntu-LightItalic.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: italic;
  src: url("./assets/fonts/Ubuntu-LightItalic.ttf");
}

@import "https://fonts.googleapis.com/icon?family=Material+Icons";

html,
body {
  background-color: black;
  margin: 0;
}
mat-card-title{
  font-family: 'ForYouFont'!important;
  margin: 2vh!important;
  margin-bottom: unset!important;
}
mat-card-subtitle{
  margin-left: 2vh!important;
  margin-top: unset!important;
  margin-bottom: 1vh!important;
  font-family: 'Ubuntu'!important;
  font-style: italic!important;
  color: #FFE400!important;
}
mat-card-content{
  font-family: 'Ubuntu'!important;
  font-weight: lighter!important;
}
mat-card-actions{
  margin: 2vh!important;
}
img#execProfile{
  width: 40%;
}