<div class="cardbook">
    <mat-card *ngFor="let card of this.cardbook">
        <mat-card-content>
            <div class="card">
                <h2>{{card.timeframe}}</h2>
                <h4>{{card.startYear}} - {{card.endYear}}</h4>
                <img src={{card.picture}} />
                <h5>{{card.lifestyle}}</h5>
            </div>
            <div class="summary">
                <div class="description">
                    {{card.summary}}
                </div>
                <div class="stats">
                    <mat-accordion>
                        <mat-expansion-panel [expanded]="false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>Training</mat-panel-title>
                                <mat-panel-description>{{card.programs.length}} Programs</mat-panel-description>
                            </mat-expansion-panel-header>
                            <ul>
                                <li *ngFor="let program of card.programs">{{program}}</li>
                            </ul>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Nutrition</mat-panel-title>
                                <mat-panel-description>{{card.diets.length}} Diet(s)</mat-panel-description>
                            </mat-expansion-panel-header>
                            <ul>
                                <li *ngFor="let diet of card.diets">{{diet}}</li>
                            </ul>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>