<mat-toolbar>
    <div class="container">
        <mat-toolbar-row>
            <img class="toolbar" src="../../../assets/ForYouFitnessLogo.png" />
            <button mat-stroked-button>For You</button>
            <button mat-stroked-button>About Me</button>
            <button mat-stroked-button>Offerings</button>
            <button mat-stroked-button>Contact</button>
            <span class="spacer"></span>
            <mat-divider [vertical]="true"></mat-divider>
            <button mat-icon-button>
                <mat-icon>login</mat-icon>
            </button>
        </mat-toolbar-row>
    </div>
</mat-toolbar>